*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Volkhov", Georgia, 'Times New Roman', Times, serif;
}

html{
  font-size: 62.5%;
}
img{
  display: block;
  max-width: 100%;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: #000;
}

:root{
  --primary-color: #8751ed;
}

.estrutura{
  display: grid;
  grid-template-columns: minmax(16rem, 1fr) 3fr 30rem;
  grid-template-areas: 
  "header header header"
  "sidenav content anuncios"
  "footer footer footer"
  ;
}

.header {
  grid-area: header;
}

.sidenav {
  grid-area: sidenav;
}

.content {
  grid-area: content;
}

.anuncios {
  grid-area: anuncios;
}

.footer {
  grid-area: footer;
}
