.header-bg{
  background-color: #8c56ef;
}
.header-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}
.nav-link{
  color: #fff;
  font-size: 2rem;
  background-color:#875dd8;
  padding: 1rem 2rem;
  border-radius: 4px;
}